
.title-fild,
.author-fild {
  display: block;
  margin: 1rem 0 1rem 0;
}


.title-author{
  margin-right: 10px;
}

.remove-btn{
  height: 30px;
  border-radius: 10px;
  border: 3px;
  margin-top: 20px;
  position: fixed;
  right: 2%;
}

.books-section :nth-child(even) {
  background-color: beige;
}

.book-div {
  display: flex;
  flex-direction: row;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  background-color: white;
}

.add-books-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.add-button{
  margin-left: 77%;
}
